<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Permissões -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" /> <!-- Dizendo que câmera é opcional -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Declare ARCore as optional so the app can be installed on non-AR devices -->
    <uses-feature
        android:name="com.google.ar.core"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndoorAR" >
        <!-- Mark ARCore optional for Sceneform -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />
        <activity
            android:name=".ActivityHomeComum"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ActivityCadastroMaker"
            android:exported="false" />
        <activity
            android:name=".Activity_cadastro_comum"
            android:exported="false" />
        <activity
            android:name=".ui.ARActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityPerfil"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityEditor"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityHomeMaker"
            android:exported="false" />
        <activity
            android:name=".ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ActivityScanQR"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IndoorAR.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCriar2"
            android:exported="false" />
        <activity
            android:name=".ActivityCriar"
            android:exported="false" />
        <activity
            android:name=".ActivityConta"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="HardcodedOrientation"
            tools:replace="android:theme" />
        <activity
            android:name=".ActivityMap"
            android:exported="false" />
        <activity
            android:name=".ActivityMeusMapas"
            android:exported="false" />
        <activity
            android:name=".ActivityMapasExistentes"
            android:exported="false" />

        <!-- Provider para compartilhar o QR Code -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>