<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndoorAR" >
        <activity
            android:name=".ActivityHomeComum"
            android:exported="false" />
        <activity
            android:name=".ActivityFavoritos"
            android:exported="false" />
        <activity
            android:name=".ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ActivityPerfil"
            android:exported="false" />
        <activity
            android:name=".ui.ActivityEditor"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.IndoorAR" />
        <activity
            android:name=".ActivityHomeMaker"
            android:exported="false" />
        <activity
            android:name=".ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ActivityScanQR"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.IndoorAR.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCriar2"
            android:exported="false" />
        <activity
            android:name=".ActivityCriar"
            android:exported="false" />
        <activity
            android:name=".ActivityConta"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:ignore="HardcodedOrientation"
            tools:replace="android:theme" />
        <activity
            android:name=".ActivityMeusMapas"
            android:exported="false" />
        <activity
            android:name=".ActivityMapasExistentes"
            android:exported="false" />
        <activity android:name=".ActivityConfigConta"
            android:exported="false"/>
        <activity android:name=".ActivityEditarNome" android:exported="false" />
        <activity android:name=".ActivityAlterarEmail" android:exported="false" />
        <activity android:name=".ActivityAlterarSenha" android:exported="false" />
        <activity android:name=".ActivityCriarSenha" android:exported="false" />
        <activity android:name=".ActivityCadastrarMapa" android:exported="false" />
        <activity
            android:name=".ActivityNavHud"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IndoorAR" />

        <!-- Provider para compartilhar o QR Code -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>